* {
    box-sizing: border-box;
    scroll-behavior: smoot;
}

body {
    background: #dddcdc;
    justify-content: center;
    min-width: 320px;
    max-width: 1800px;
    margin: 0 auto;
}

button {
    height: 50px;
    width: 150px;
    margin: 20px;
    box-shadow: 4px 5px 20px black;
}

.contaner__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 200px;
}

.contaner__btn--rounded button {
    border-radius: 12px;
}

.contaner__btn--circle button {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    font-size: 16px;
}

.btn--white {
    background: white;
}

.btn--black {
    background: black;
    color: white;
}

.btn--green {
    background: green;
    color: white;
}

.btn--red {
    background: red;
    color: white;
}

.btn--grey {
    background: grey;
    color: white;
}

.btn--transparent {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}